In [7]:
#Write a Program to interchange first and last elements in a list

list = [1,2,3,4,5,6,7]
list[0],list[-1]=list[-1],list[0]
print(list)

[7, 2, 3, 4, 5, 6, 1]

In [9]:
#Program to swap two elements in a list

my_list = [10, 20, 30, 40, 50]
list[0],list[-1]=list[-1],list[0]
print(my_list)

[10, 20, 30, 40, 50]

In [11]:
#Swap elements in String list
my_list = ["apple", "banana", "cherry", "date"]
my_list[0],my_list[-1]=my_list[-1],my_list[0]
print(my_list)

['date', 'banana', 'cherry', 'apple']

In [ ]:

a = [5]
b = [6] 
a,b = b,a
print(a)
print(b)

In [13]:
#Ways to find length of list
list = [1,2,3,4,5,6,7]
length = len(list)
print(length)

7

In [15]:
# Way 2
list1= [1, 2, 3, 4, 5]
length = sum(1 for _ in list1)
print(length)

5

In [5]:
# Maximum of two numbers in Python
a = 85
b = 55

if a > b:
    print(a)
else:
    print(b)

85

In [1]:
# Maximum of two numbers in Python
a = 10
b = 20

if a > b:
    print(a)
else:
    print(b)

20

In [17]:
#Minimum of two numbers in Python
a = 25
b = 30
if a < b:
    print(a)
else:
    print(b)

25

In [23]:
#Ways to check if element exists in list
a = [2,4,6,8,10,12]
element = 2

if element in my_list:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

2 does not exist in the list.

In [27]:
#ways to check if element exists in list
a = [1, 2, 3, 4, 5]
a.count(3)
# Way 2
if 3 in a:
    print("Element exists in the list")
else:
    print("Element does not exist in the list")

Element exists in the list

In [31]:
# Q8.Different ways to clear list in python
list = [11, 22, 33, 44, 55]
# Way 1
list.clear()
print(list)
# Way 2
#del list[:]
print(list)
# Way 3
#list.remove()
print(list)

[]
[]
[]

In [33]:
#9. Reversing a list
list = [1, 2, 3, 4, 5]
# Way 1
list.reverse()
print(list)
# Way 2
list.sort(reverse=True)
print(list)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [43]:
# Q10. cloning or copying a list
list = [1, 2, 3, 4, 5]
# Way 1
list= list.copy()
print(list)
# Way 2
new_list = list[:]
print(new_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [47]:
# Q11. count occurences of an element in a list
l1 = [1, 2, 3, 4, 3, 5]
l1.count(3)

2

In [51]:
# Q12. Program to find sum and average of a list in python
l1 = [1, 2, 3, 4, 6]
sum = l1[0] + l1[1] + l1[2] + l1[3] + l1[4]
average = sum / len(l1)
print(sum)
print(average)

16
3.2

In [55]:
# Q13. sum of number digits in list

l1 = [223, 556, 889]

# Function to calculate the sum of digits
def sum_of_digits(numbers):
    total_sum = 0
    for number in numbers:
        # Convert the number to string and iterate through each digit
        for digit in str(number):
            total_sum += int(digit)  # Convert digit back to int and add to total_sum
    return total_sum

# Calculate the sum of digits in the list
result = sum_of_digits(l1)

# Print the result
print("The sum of the digits in the list is:", result)

The sum of the digits in the list is: 48

In [57]:
# Q14. Multiply all numbers in list
l1=[10,20,30,40,50]
list=l1[0]*l1[1]*l1[2]*l1[3]*l1[4]
print(list)

12000000

In [59]:
# Q15. program to find smallest number in list
# Way 1
l1=[15,2.5,30,42,50]
list=min(l1)
print(list)
# Way 2
list1=sorted(l1)
print(list1[0])

2.5
2.5

In [61]:
# Q16.program to find largest number in list
# Way 1
l1=[11,12,13,14,15]
x=max(l1)
print(x)
# Way 2
y=sorted(l1)
print(y[-1])

15
15

In [65]:
# Q17. program to find second largest number in list
list=[1,2,3,4,5]
list.sort()
print(list[-2])

4

In [5]:
# Q18. program to print even numbers in list
list=[1,2,3,4,5]
for x in list:
    if x%2==0:
        print(x)

2
4

In [3]:
# Q19. program to print odd numbers in list
list=[1,2,3,4,5]
for x in list:
    if x%2!=0:
        print(x)

1
3
5

In [7]:
# Q20. program to print all even numbers in a range
for x in range(1,10):
    if x%2==0:
        print(x)

2
4
6
8

In [9]:
# Q21. program to print all add numbers in a range
for x in range(1,10):
    if x%2!=0:
        print(x)

1
3
5
7
9

In [13]:
# Q22. program to count even and odd numbers in a list
list=[1,2,3,4,5]
even=0
odd=0
for x in list:
    if x%2==0:
        even+=1
    else:
        odd+=1
print(even)
print(odd)

2
3

In [17]:
# Q23.program to print positive numbers in list
list=[1,2,3,4,5]
for x in list:
    if x>0:
        print(x)

1
2
3
4
5

In [19]:
# Q24.program to print negative numbers in list
list=[1,2,3,4,5]
for list in list:
    if i<0:
        print(i)

In [21]:
# Q25. program to print all positive numbers in a range
for p in range(1,10):
    if p>0:
        print(p)

1
2
3
4
5
6
7
8
9

In [25]:
# Q26. program to print all nagative numbers in a range
for n in range(1,10):
    if n<0:
        print(n)

In [27]:
# Q27. program to count positive and negative numbers in a list
list=[1,2,3,4,5]
positive=0
negative=0
for i in list:
    if i>0:
        positive+=1
    else:
        negative+=1
print(positive)
print(negative)

5
0

In [29]:
# Q28. remove multiple elements from a list
list = [1, 2, 3, 4, 3,1]
for i in list:
    if list.count(i)>1:
        list.remove(i)
print(list)

[2, 4, 3, 1]

In [35]:
# Q29. remove empty tuples from a list
# Way 1
l1 = [(1, 2), (), (3, 4), (), (5, 6)]
l1 = [t for t in l1 if t]
print(l1)
# Way 2

[(1, 2), (3, 4), (5, 6)]

In [37]:
# Q30. print duplicates from a list of integers
l1=[1,1,2,2,3,4,4,3,5,5,6]
for i in l1:
    if l1.count(i)>1:
        print(i)
# Way 2
l1=[1,1,2,2,3,4,4,3,5,5,6]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
    else:
        print(i)

1
1
2
2
3
4
4
3
5
5
1
2
4
3
5